<!DOCTYPE html>
<!--[if IE 8]> <html lang="ru" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="ru" class="ie9"> <![endif]-->
<!--[if !IE]><!--><html lang="ru"> <!--<![endif]-->
<head>
    <title>Документация</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ base_url() }}/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="{{ base_url() }}/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ base_url() }}/assets/plugins/prism/prism.css">
    <link rel="stylesheet" href="{{ base_url() }}/assets/plugins/jsoneditor/jsoneditor.min.css">
    <link id="theme-style" rel="stylesheet" href="{{ base_url() }}/assets/css/styles.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="body-pink">
    <div class="page-wrapper">
        <header id="header" class="header">
            <div class="container">
                <div class="branding">
                    <h1 class="logo">
                        <a href="/">
                            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                            <span class="text-highlight">AM.RU</span><span class="text-bold">Docs</span>
                        </a>
                    </h1>
                </div>
            </div>
        </header>

        <div class="doc-wrapper">
            <div class="container">
                <div class="doc-body">
                    <div class="doc-content">
                        <div class="content-inner">
                            <section id="start" class="doc-section">
                                <h2 class="section-title">Начало</h2>
                                <div class="section-block">
                                    <p>API реализовано в соответствии с протоколом JSON-RPC 2.0</p>
                                    <p>Подробнее о протоколе <a href="http://www.jsonrpc.org/" target="_blank">JSON-RPC 2.0</a></p>
                                    <p>В блоке HEADER каждого запроса обязательно должны быть отправлены следующие HTTP заголовки:</p>
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Название</th>
                                                    <th>Тип</th>
                                                    <th>Описание</th>
                                                    <th>Пример</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>X-API-KEY</td>
                                                    <td>String</td>
                                                    <td>Ключ клиента</td>
                                                    <td>blizzard-entertainment</td>
                                                </tr>
                                                <tr>
                                                    <td>X-API-CLIENT</td>
                                                    <td>String</td>
                                                    <td>Тип клиента</td>
                                                    <td>desktop_site</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <p>Часть методов API доступна только авторизованным пользователям.<br/>Для вызова этих методов необходимо отправлять HTTP заголовок:</p>
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Название</th>
                                                <th>Тип</th>
                                                <th>Описание</th>
                                                <th>Пример</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>Authorization</td>
                                                <td>String</td>
                                                <td>Access token</td>
                                                <td>Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="section-block">
                                    <h3 class="block-title">Формат ответ</h3>
                                    <p>В общем виде успешный ответ API выглядит следующим образом:</p>
                                    <pre><code class="language-json">{
  "jsonrpc": "2.0",
  "result": {}
  "id": 1
}</code></pre>
                                    <p>В общем виде ответ API с ошибкой выглядит так:</p>
                                    <pre><code class="language-json">{
  "jsonrpc": "2.0",
  "error": {
    "code": -32601,
    "message": "Method not found"
  },
  "id": 1
}</code></pre>
                                </div>
                            </section>
                            {% for extension, methods in v1 %}
                                <section id="{{ extension | raw }}" class="doc-section">
                                    <h2 class="section-title">{{ extension | raw }}</h2>
                                    {% for name, method  in methods %}
                                        <div id="{{ extension | raw }}{{ name | raw }}" class="section-block">
                                            <h3 class="block-title">{{ name | raw }} - {{ method.title | raw }}</h3>
                                            <p>{{ method.description | raw }}</p>
                                            <h4>Параметры</h4>
                                            <div class="table-responsive">
                                                <table class="table table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th>Название</th>
                                                        <th>Тип</th>
                                                        <th>Описание</th>
                                                        <th>Пример</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>X-API-KEY</td>
                                                        <td>String</td>
                                                        <td>Ключ клиента</td>
                                                        <td>blizzard-entertainment</td>
                                                    </tr>
                                                    <tr>
                                                        <td>X-API-CLIENT</td>
                                                        <td>String</td>
                                                        <td>Тип клиента</td>
                                                        <td>desktop_site</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <h4>Пример запроса:</h4>
                                            <pre><code class="language-json"></code></pre>
                                            <h4>Пример ответа:</h4>
                                            <pre><code class="language-json"></code></pre>
                                            <h4>Отправить запрос:</h4>
                                            <div id="jsoneditor-{{ extension | raw }}{{ name | raw }}" class="jsoneditor" data-jsoneditor-key="{{ extension | raw }}{{ name | raw }}">
                                                {{ method.success.request.example | raw }}
                                            </div>
                                            <p></p>
                                            <a href="#" class="btn btn-cta btn-pink" id="send">Отправить</a>
                                        </div>
                                    {% endfor %}
                                </section>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="doc-sidebar">
                        <nav id="doc-nav">
                            <ul id="doc-menu" class="nav doc-menu hidden-xs" data-spy="affix">
                                <li><a class="scrollto" href="#start">Начало</a></li>
                                {% for extension, methods in v1 %}
                                    <li>
                                        <a class="scrollto" href="#{{ extension | raw }}">{{ extension | raw }}</a>
                                        <ul class="nav doc-sub-menu">
                                            {% for name, method  in methods %}
                                            <li><a class="scrollto" href="#{{ extension | raw }}{{ name | raw }}">{{ name | raw }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer" class="footer text-center">
        <div class="container">
            <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
            <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com/" target="_blank">Xiaoying Riley</a> for developers</small>
        </div>
    </footer>

    <script type="text/javascript" src="{{ base_url() }}/assets/plugins/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/assets/plugins/prism/prism.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/assets/plugins/jsoneditor/jsoneditor.min.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/assets/js/main.js"></script>
</body>
</html>

